{
    "printWidth": 100,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf"
}
  