/* Fonts */

@font-face {
  font-family: "InconsolataRegular";
  src: url("../fonts/Inconsolata/Inconsolata-Regular.ttf") format("truetype");
  font-weight: normal;
}

/* Colors */

:root {
  --ultra-light-gray: #dee2e6;
  --light-gray: #c7c7c7;
  --medium-gray: #696969;
  --dark-gray: #495057;
}

/* General */

body {
  transition:
    background-color 0.3s,
    color 0.3s;
  font-family: "InconsolataRegular";
}

/* Title */

h1 {
  font-size: 50px;
}

/* Icons */

i {
  transition: color 0.3s ease;
}

i:hover {
  color: var(--medium-gray);
}

/* Toast Notis */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast {
  animation: fadeIn 0.3s ease-out;
}

#copyText {
  transition: all 0.3s ease;
}

/* Tech Stack Grid */

.tech-stack-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 1rem;
}

.tech-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 3px solid var(--ultra-light-gray);
  border-radius: 8px;
  transition: transform 0.3s;
}

.tech-tile:hover {
  transform: scale(1.05);
  border-color: var(--light-gray);
}

.tech-tile img {
  width: 100%;
  margin-bottom: 5px;
}

.tech-tile span {
  font-size: 0.8rem;
}

[data-bs-theme="dark"] .tech-tile {
  border-color: var(--dark-gray);
}

[data-bs-theme="dark"] .tech-tile:hover {
  border-color: var(--medium-gray);
}

[data-bs-theme="dark"] i:hover {
  color: var(--light-gray);
}

/* Mobile Tech Stack Grid */

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }

  .tech-stack-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 0.5rem;
  }

  .tech-tile {
    padding: 5px;
    border-width: 2px;
    border-radius: 6px;
  }

  .tech-tile img {
    width: 50%;
    margin-bottom: 3px;
  }

  .tech-tile span {
    font-size: 0.7rem;
  }
}
